USE [master]
GO
/****** Object:  Database [URETIM]    Script Date: 17.12.2024 23:02:13 ******/
CREATE DATABASE [URETIM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'URETIM', FILENAME = N'C:\Users\DELL\Desktop\MSSQL16.SQLEXPRESS\MSSQL\DATA\URETIM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'URETIM_log', FILENAME = N'C:\Users\DELL\Desktop\MSSQL16.SQLEXPRESS\MSSQL\DATA\URETIM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [URETIM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [URETIM]
GO
/****** Object:  Table [dbo].[CALISAN_TELEFONLAR]    Script Date: 17.12.2024 23:02:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CALISAN_TELEFONLAR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CALISAN_ID] [int] NOT NULL,
	[DURUM] [int] NULL,
	[OLUSTURULMA_TARIHI] [date] NOT NULL,
	[OLUSTURULMA_SAATI] [datetime] NULL,
	[GUNCELLESTİRME_TARIHI] [date] NULL,
	[GUNCELLESTIRME_SAATI] [datetime] NULL,
	[TELEFON_TIPI] [nvarchar](5) NOT NULL,
	[ULKE_KODU] [int] NOT NULL,
	[ALAN_KODU] [int] NOT NULL,
	[TELEFON_NUMARASI] [int] NOT NULL,
	[OLUSTURAN_KULLANICI] [nvarchar](50) NULL,
	[GUNCELLEYEN_KULLANICI] [nvarchar](50) NOT NULL,
	[SIMKART_BLOKESI_DURUMU] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CALISANLAR]    Script Date: 17.12.2024 23:02:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CALISANLAR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AD] [varchar](50) NULL,
	[SOYAD] [varchar](50) NULL,
	[POZİSYON] [varchar](100) NOT NULL,
	[DEPARTMAN] [varchar](50) NOT NULL,
	[DOGUM_TARIHI] [date] NULL,
	[ISE_GIRIS_TARIHI] [date] NULL,
	[MAAS] [decimal](10, 2) NOT NULL,
	[HESAP_NUMARASI] [char](26) NOT NULL,
	[DOGUM_YERI] [nvarchar](20) NULL,
	[DURUM] [bit] NULL,
	[OLUSTURULMA_TARIHI] [date] NOT NULL,
	[OLUSTURULMA_SAATI] [datetime] NULL,
	[GUNCELLEME_TARIHI] [date] NULL,
	[GUNCELLEME_SAATI] [datetime] NULL,
	[OLUSTURAN_KULLANICI] [nvarchar](50) NOT NULL,
	[GUNCELLEYEN_KULLANICI] [nvarchar](50) NULL,
	[BIRIM] [nvarchar](50) NOT NULL,
	[CINSIYET] [char](1) NULL,
	[KIMLIK_NUMARASI] [numeric](11, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEMIRBASLAR]    Script Date: 17.12.2024 23:02:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEMIRBASLAR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ADI] [nchar](10) NOT NULL,
	[TURU] [nchar](10) NOT NULL,
	[MARKA] [nchar](10) NOT NULL,
	[MODEL] [nchar](10) NOT NULL,
	[SERI_NO] [nchar](10) NOT NULL,
	[ALIS_TARIHI] [nchar](10) NOT NULL,
	[ALIS_FIYAT] [nchar](10) NOT NULL,
	[KULLANICI_ID] [int] NOT NULL,
	[DURUMU] [nchar](10) NULL,
	[YERİ] [nchar](10) NOT NULL,
	[ODEME_TIPI] [nchar](10) NULL,
	[GARANTI_BITIS_TARIHI] [date] NOT NULL,
	[FATURA_NUMARASI] [nchar](10) NOT NULL,
	[FATURA_TARIHI] [nchar](10) NOT NULL,
	[BAKIM_TARIHI] [nchar](10) NOT NULL,
	[BAKIM_TURU] [nchar](10) NULL,
	[DEMIRBAS_KULLANIM_DURUMU] [nchar](10) NULL,
	[TEDARIKCI_ID] [int] NOT NULL,
	[GARANTI_BASLANGIC_TARIHI] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HAMMADDELER]    Script Date: 17.12.2024 23:02:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HAMMADDELER](
	[HAMMADDE_ID] [int] IDENTITY(1,1) NOT NULL,
	[ADI] [varchar](255) NULL,
	[BIRIM] [varchar](50) NOT NULL,
	[STOK_MIKTARI] [int] NOT NULL,
	[BIRIM_FIYAT] [decimal](10, 2) NOT NULL,
	[TEDARIKCI_ID] [int] NOT NULL,
	[URETIM_TARIHI] [date] NULL,
	[SON_KULLANMA_TARIHI] [date] NOT NULL,
	[KALITE_KONTROL_DURUMU] [varchar](50) NOT NULL,
	[MIN_STOK_MIKTARI] [int] NOT NULL,
	[MAX_STOK_MIKTARI] [int] NOT NULL,
	[TEDARIK_TARIHI] [date] NOT NULL,
	[TEDARIKCI_FIYAT] [decimal](10, 2) NOT NULL,
	[ACIKLAMA] [text] NULL,
	[DURUM] [varchar](50) NULL,
	[KAYIT_TARIHI] [date] NOT NULL,
	[GUNCELLEME_TARIHI] [date] NULL,
	[DEPO] [varchar](50) NOT NULL,
	[SAKLAMA_KOSULLARI] [varchar](50) NOT NULL,
	[OLUSTURAN_KULLANICI_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[HAMMADDE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IADELER]    Script Date: 17.12.2024 23:02:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IADELER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MUSTERI_ID] [int] NOT NULL,
	[URUN_ID] [int] NOT NULL,
	[IADE_TARIHI] [datetime] NULL,
	[MIKTAR] [int] NOT NULL,
	[TUTAR] [decimal](10, 2) NULL,
	[DURUM] [varchar](50) NULL,
	[ACIKLAMA] [text] NULL,
	[ODEMESIYAPILDI] [bit] NOT NULL,
	[IADECALISAN_ID] [int] NOT NULL,
	[ONAYCALISAN_ID] [int] NOT NULL,
	[ONAYTARIHI] [datetime] NULL,
	[IADE_TIPI] [varchar](50) NOT NULL,
	[FATURA_NO] [char](15) NOT NULL,
	[IADE_SEBEBI] [text] NOT NULL,
	[IADE_KODU] [varchar](50) NOT NULL,
	[GERI_GONDERIM_YONTEMI] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MUSTERI_ADRES]    Script Date: 17.12.2024 23:02:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUSTERI_ADRES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MUSTERI_ID] [int] NOT NULL,
	[DURUM] [int] NULL,
	[IL_KODU] [numeric](2, 0) NOT NULL,
	[IL_ADI] [nvarchar](20) NOT NULL,
	[ILCE_ADI] [nvarchar](25) NOT NULL,
	[MAHALLE_ADI] [nvarchar](25) NOT NULL,
	[CADDE_ADI] [nvarchar](20) NOT NULL,
	[SOKAK_ADI] [nvarchar](20) NOT NULL,
	[SITE_ADI] [nvarchar](20) NOT NULL,
	[KAPI_NO] [numeric](3, 0) NOT NULL,
	[KAT] [numeric](2, 0) NOT NULL,
	[DAIRE_NO] [numeric](3, 0) NOT NULL,
	[ADRES_TURU] [nvarchar](10) NOT NULL,
	[POSTA_KODU] [char](5) NOT NULL,
	[ULKE] [nvarchar](20) NOT NULL,
	[ACIKLAMA] [nvarchar](100) NULL,
	[ADRES_TARIFI] [nvarchar](100) NULL,
	[KAYIT_TARIHI] [date] NOT NULL,
	[GUNCELLEME_TARIHI] [date] NULL,
	[KAYIT_SAATI] [datetime] NULL,
	[GUNCELLEME_SAATI] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MUSTERILER]    Script Date: 17.12.2024 23:02:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUSTERILER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ADI] [varchar](50) NOT NULL,
	[SOYADI] [varchar](50) NOT NULL,
	[CINSIYET] [varchar](10) NULL,
	[DOGUM_TARIHI] [date] NULL,
	[TELEFON] [numeric](10, 0) NULL,
	[E_POSTA] [nchar](100) NOT NULL,
	[MUSTERI_TURU] [nchar](10) NULL,
	[KAYIT_TARIHI] [date] NULL,
	[ODEME_TIPI] [nchar](10) NULL,
	[VATANDASLIK] [nchar](10) NULL,
	[VERGI_NUMARASI] [nchar](10) NOT NULL,
	[TCKN] [varchar](11) NULL,
	[DOGUM_YERI] [varchar](25) NULL,
	[ANNE_ADI] [varchar](25) NULL,
	[BABA_ADI] [varchar](25) NULL,
	[GUNCELLEME_TARIHI] [date] NULL,
	[OLUSTURAN_KULLANICI_ID] [int] NOT NULL,
	[GUNCELLEYEN_KULLANICI_ID] [int] NOT NULL,
	[SADAKAT_PUANI] [numeric](3, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SIPARISLER]    Script Date: 17.12.2024 23:02:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIPARISLER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MUSTERI_ID] [int] NOT NULL,
	[URUN_ID] [int] NOT NULL,
	[SIPARIS_TARİHİ] [datetime] NOT NULL,
	[TESLIMAT_TARIHI] [datetime] NOT NULL,
	[TOPLAM_TUTAR] [decimal](10, 2) NOT NULL,
	[ODEME_DURUMU] [varchar](50) NOT NULL,
	[ODEME_TIPI] [varchar](50) NULL,
	[SIPARIS_DURUMU] [varchar](50) NULL,
	[INDIRIM] [decimal](10, 2) NULL,
	[TESLIM_ALMA_TURU] [varchar](20) NULL,
	[TESLIMAT_ADI] [varchar](50) NOT NULL,
	[TESLIMAT_SOYADI] [varchar](50) NOT NULL,
	[TESLIMAT_ADRES_ID] [int] NOT NULL,
	[KARGO_FIRMASI] [varchar](30) NULL,
	[KARGO_TAKIP_NO] [varchar](20) NOT NULL,
	[KARGO_UCRETI] [numeric](10, 2) NULL,
	[SIPARIS_NO] [varchar](30) NOT NULL,
	[KUPON_KODU] [varchar](20) NULL,
	[PARA_BIRIMI] [char](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEDARIKCILER]    Script Date: 17.12.2024 23:02:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEDARIKCILER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FIRMA_ADI] [varchar](255) NOT NULL,
	[ILETISIM_ADI] [varchar](255) NOT NULL,
	[ILETISIM_TELEFON] [varchar](20) NOT NULL,
	[ILETISIM_EMAIL] [varchar](100) NOT NULL,
	[ADRES] [text] NULL,
	[VERGI_NUMARASI] [varchar](50) NOT NULL,
	[WEB_SITESI] [varchar](50) NULL,
	[SOZLESME_DURUMU] [varchar](25) NOT NULL,
	[SOZLESME_BASLANGIC_TARIHI] [date] NOT NULL,
	[SOZLESME_BITIS_TARIHI] [date] NOT NULL,
	[TEDARIK_EDILEN_URUNLER] [nvarchar](25) NOT NULL,
	[TESLIMAT_SURESI] [int] NULL,
	[ULKE] [varchar](50) NOT NULL,
	[IL] [varchar](50) NOT NULL,
	[ILCE] [varchar](50) NOT NULL,
	[POSTA_KODU] [numeric](5, 0) NOT NULL,
	[IBAN] [char](26) NOT NULL,
	[BANKA_ADI] [varchar](50) NOT NULL,
	[ODEME_TURU] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[URUNLER]    Script Date: 17.12.2024 23:02:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[URUNLER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ADI] [varchar](100) NULL,
	[KODU] [varchar](50) NOT NULL,
	[KATEGORI] [nchar](10) NOT NULL,
	[MIKTAR] [int] NOT NULL,
	[URETIM_TARIHI] [date] NOT NULL,
	[TESLIM_TARIHI] [date] NOT NULL,
	[HAMMADDE_ID] [int] NOT NULL,
	[URETIM_TURU] [varchar](50) NOT NULL,
	[MAKINA_ID] [int] NOT NULL,
	[HAMMADDE_MIKTARI] [decimal](10, 2) NOT NULL,
	[PARTI_NO] [varchar](50) NOT NULL,
	[STOK_MIKTARI] [int] NOT NULL,
	[DEPO] [varchar](50) NOT NULL,
	[DURUM] [varchar](50) NULL,
	[YETKILI_CALISAN_ID] [int] NOT NULL,
	[ACIKLAMA] [text] NULL,
	[KDV_ORANI] [numeric](2, 2) NOT NULL,
	[BIRIM_MALIYET] [numeric](10, 2) NOT NULL,
	[SATIS_FIYATI] [numeric](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_CALISAN_TELEFONLAR]    Script Date: 17.12.2024 23:02:13 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_CALISAN_TELEFONLAR] ON [dbo].[CALISAN_TELEFONLAR]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CALISAN_TELEFONLAR_1]    Script Date: 17.12.2024 23:02:13 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_CALISAN_TELEFONLAR_1] ON [dbo].[CALISAN_TELEFONLAR]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CALISANLAR]    Script Date: 17.12.2024 23:02:13 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_CALISANLAR] ON [dbo].[CALISANLAR]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CALISANLAR_1]    Script Date: 17.12.2024 23:02:13 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_CALISANLAR_1] ON [dbo].[CALISANLAR]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DEMIRBASLAR]    Script Date: 17.12.2024 23:02:13 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_DEMIRBASLAR] ON [dbo].[DEMIRBASLAR]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HAMMADDELER]    Script Date: 17.12.2024 23:02:13 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_HAMMADDELER] ON [dbo].[HAMMADDELER]
(
	[HAMMADDE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_IADELER]    Script Date: 17.12.2024 23:02:13 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_IADELER] ON [dbo].[IADELER]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_IADELER_1]    Script Date: 17.12.2024 23:02:13 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_IADELER_1] ON [dbo].[IADELER]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MUSTERILER]    Script Date: 17.12.2024 23:02:13 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_MUSTERILER] ON [dbo].[MUSTERILER]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MUSTERILER_1]    Script Date: 17.12.2024 23:02:13 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_MUSTERILER_1] ON [dbo].[MUSTERILER]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MUSTERILER_2]    Script Date: 17.12.2024 23:02:13 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_MUSTERILER_2] ON [dbo].[MUSTERILER]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MUSTERILER_3]    Script Date: 17.12.2024 23:02:13 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_MUSTERILER_3] ON [dbo].[MUSTERILER]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SIPARISLER]    Script Date: 17.12.2024 23:02:13 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_SIPARISLER] ON [dbo].[SIPARISLER]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SIPARISLER_1]    Script Date: 17.12.2024 23:02:13 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_SIPARISLER_1] ON [dbo].[SIPARISLER]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TEDARIKCILER]    Script Date: 17.12.2024 23:02:13 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_TEDARIKCILER] ON [dbo].[TEDARIKCILER]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TEDARIKCILER_1]    Script Date: 17.12.2024 23:02:13 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_TEDARIKCILER_1] ON [dbo].[TEDARIKCILER]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TEDARIKCILER_2]    Script Date: 17.12.2024 23:02:13 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_TEDARIKCILER_2] ON [dbo].[TEDARIKCILER]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TEDARIKCILER_3]    Script Date: 17.12.2024 23:02:13 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_TEDARIKCILER_3] ON [dbo].[TEDARIKCILER]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TEDARIKCILER_4]    Script Date: 17.12.2024 23:02:13 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_TEDARIKCILER_4] ON [dbo].[TEDARIKCILER]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_URUNLER]    Script Date: 17.12.2024 23:02:13 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_URUNLER] ON [dbo].[URUNLER]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_URUNLER_1]    Script Date: 17.12.2024 23:02:13 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_URUNLER_1] ON [dbo].[URUNLER]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CALISAN_TELEFONLAR]  WITH CHECK ADD  CONSTRAINT [FK_CALISAN_TELEFONLAR_CALISANLAR] FOREIGN KEY([CALISAN_ID])
REFERENCES [dbo].[CALISANLAR] ([ID])
GO
ALTER TABLE [dbo].[CALISAN_TELEFONLAR] CHECK CONSTRAINT [FK_CALISAN_TELEFONLAR_CALISANLAR]
GO
ALTER TABLE [dbo].[DEMIRBASLAR]  WITH CHECK ADD  CONSTRAINT [FK_DEMIRBASLAR_CALISANLAR] FOREIGN KEY([KULLANICI_ID])
REFERENCES [dbo].[CALISANLAR] ([ID])
GO
ALTER TABLE [dbo].[DEMIRBASLAR] CHECK CONSTRAINT [FK_DEMIRBASLAR_CALISANLAR]
GO
ALTER TABLE [dbo].[DEMIRBASLAR]  WITH CHECK ADD  CONSTRAINT [FK_DEMIRBASLAR_TEDARIKCILER] FOREIGN KEY([TEDARIKCI_ID])
REFERENCES [dbo].[TEDARIKCILER] ([ID])
GO
ALTER TABLE [dbo].[DEMIRBASLAR] CHECK CONSTRAINT [FK_DEMIRBASLAR_TEDARIKCILER]
GO
ALTER TABLE [dbo].[HAMMADDELER]  WITH CHECK ADD  CONSTRAINT [FK_HAMMADDELER_CALISANLAR] FOREIGN KEY([OLUSTURAN_KULLANICI_ID])
REFERENCES [dbo].[CALISANLAR] ([ID])
GO
ALTER TABLE [dbo].[HAMMADDELER] CHECK CONSTRAINT [FK_HAMMADDELER_CALISANLAR]
GO
ALTER TABLE [dbo].[HAMMADDELER]  WITH CHECK ADD  CONSTRAINT [FK_HAMMADDELER_TEDARIKCILER] FOREIGN KEY([TEDARIKCI_ID])
REFERENCES [dbo].[TEDARIKCILER] ([ID])
GO
ALTER TABLE [dbo].[HAMMADDELER] CHECK CONSTRAINT [FK_HAMMADDELER_TEDARIKCILER]
GO
ALTER TABLE [dbo].[IADELER]  WITH CHECK ADD  CONSTRAINT [FK_IADELER_CALISANLAR] FOREIGN KEY([IADECALISAN_ID])
REFERENCES [dbo].[CALISANLAR] ([ID])
GO
ALTER TABLE [dbo].[IADELER] CHECK CONSTRAINT [FK_IADELER_CALISANLAR]
GO
ALTER TABLE [dbo].[IADELER]  WITH CHECK ADD  CONSTRAINT [FK_IADELER_CALISANLAR1] FOREIGN KEY([ONAYCALISAN_ID])
REFERENCES [dbo].[CALISANLAR] ([ID])
GO
ALTER TABLE [dbo].[IADELER] CHECK CONSTRAINT [FK_IADELER_CALISANLAR1]
GO
ALTER TABLE [dbo].[IADELER]  WITH CHECK ADD  CONSTRAINT [FK_IADELER_MUSTERILER] FOREIGN KEY([MUSTERI_ID])
REFERENCES [dbo].[MUSTERILER] ([ID])
GO
ALTER TABLE [dbo].[IADELER] CHECK CONSTRAINT [FK_IADELER_MUSTERILER]
GO
ALTER TABLE [dbo].[IADELER]  WITH CHECK ADD  CONSTRAINT [FK_IADELER_URUNLER] FOREIGN KEY([URUN_ID])
REFERENCES [dbo].[URUNLER] ([ID])
GO
ALTER TABLE [dbo].[IADELER] CHECK CONSTRAINT [FK_IADELER_URUNLER]
GO
ALTER TABLE [dbo].[MUSTERI_ADRES]  WITH CHECK ADD  CONSTRAINT [FK_MUSTERI_ADRES_MUSTERILER] FOREIGN KEY([MUSTERI_ID])
REFERENCES [dbo].[MUSTERILER] ([ID])
GO
ALTER TABLE [dbo].[MUSTERI_ADRES] CHECK CONSTRAINT [FK_MUSTERI_ADRES_MUSTERILER]
GO
ALTER TABLE [dbo].[MUSTERILER]  WITH CHECK ADD  CONSTRAINT [FK_MUSTERILER_CALISANLAR] FOREIGN KEY([OLUSTURAN_KULLANICI_ID])
REFERENCES [dbo].[CALISANLAR] ([ID])
GO
ALTER TABLE [dbo].[MUSTERILER] CHECK CONSTRAINT [FK_MUSTERILER_CALISANLAR]
GO
ALTER TABLE [dbo].[MUSTERILER]  WITH CHECK ADD  CONSTRAINT [FK_MUSTERILER_CALISANLAR1] FOREIGN KEY([GUNCELLEYEN_KULLANICI_ID])
REFERENCES [dbo].[CALISANLAR] ([ID])
GO
ALTER TABLE [dbo].[MUSTERILER] CHECK CONSTRAINT [FK_MUSTERILER_CALISANLAR1]
GO
ALTER TABLE [dbo].[SIPARISLER]  WITH CHECK ADD  CONSTRAINT [FK_SIPARISLER_MUSTERI_ADRES] FOREIGN KEY([TESLIMAT_ADRES_ID])
REFERENCES [dbo].[MUSTERI_ADRES] ([ID])
GO
ALTER TABLE [dbo].[SIPARISLER] CHECK CONSTRAINT [FK_SIPARISLER_MUSTERI_ADRES]
GO
ALTER TABLE [dbo].[SIPARISLER]  WITH CHECK ADD  CONSTRAINT [FK_SIPARISLER_MUSTERILER] FOREIGN KEY([MUSTERI_ID])
REFERENCES [dbo].[MUSTERILER] ([ID])
GO
ALTER TABLE [dbo].[SIPARISLER] CHECK CONSTRAINT [FK_SIPARISLER_MUSTERILER]
GO
ALTER TABLE [dbo].[SIPARISLER]  WITH CHECK ADD  CONSTRAINT [FK_SIPARISLER_URUNLER] FOREIGN KEY([URUN_ID])
REFERENCES [dbo].[URUNLER] ([ID])
GO
ALTER TABLE [dbo].[SIPARISLER] CHECK CONSTRAINT [FK_SIPARISLER_URUNLER]
GO
ALTER TABLE [dbo].[URUNLER]  WITH CHECK ADD  CONSTRAINT [FK_URUNLER_CALISANLAR] FOREIGN KEY([YETKILI_CALISAN_ID])
REFERENCES [dbo].[CALISANLAR] ([ID])
GO
ALTER TABLE [dbo].[URUNLER] CHECK CONSTRAINT [FK_URUNLER_CALISANLAR]
GO
ALTER TABLE [dbo].[URUNLER]  WITH CHECK ADD  CONSTRAINT [FK_URUNLER_DEMIRBASLAR] FOREIGN KEY([MAKINA_ID])
REFERENCES [dbo].[DEMIRBASLAR] ([ID])
GO
ALTER TABLE [dbo].[URUNLER] CHECK CONSTRAINT [FK_URUNLER_DEMIRBASLAR]
GO
ALTER TABLE [dbo].[URUNLER]  WITH CHECK ADD  CONSTRAINT [FK_URUNLER_HAMMADDELER] FOREIGN KEY([HAMMADDE_ID])
REFERENCES [dbo].[HAMMADDELER] ([HAMMADDE_ID])
GO
ALTER TABLE [dbo].[URUNLER] CHECK CONSTRAINT [FK_URUNLER_HAMMADDELER]
GO
USE [master]
GO
